.editor_config.json
workspace/
__pycache__/constants.cpython-312.pyc
__pycache__/editor.cpython-312.pyc
__pycache__/utils.cpython-312.pyc
__pycache__/demografico_medieval.cpython-312.pyc
__pycache__/personagens.cpython-312.pyc
__pycache__/utils.cpython-313.pyc
__pycache__/editor.cpython-313.pyc
__pycache__/constants.cpython-313.pyc
